
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Charity &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="/css/superfish.css">

	<link rel="stylesheet" href="/css/style.css">
	
   
  
   

	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/js/respond.min.js"></script>
	<![endif]-->
   
    <style> 
    #imgi {
    	height:240px;
    	width:450px:
    }
   
    
    </style>
	</head>
	<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e4a9401a89cda5a188667c7/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 text-left fh5co-link">
						<a href="#">FAQ</a>
						<a href="#">Forum</a>
						<a href="#" method="get" id="myBtn">Admin</a>
					</div>
					<div class="col-md-6 col-sm-6 text-right fh5co-social">
						<a href="#" class="grow"><i class="icon-facebook2"></i></a>
						<a href="#" class="grow"><i class="icon-twitter2"></i></a>
						<a href="#" class="grow"><i class="icon-instagram2"></i></a>
					</div>
				</div>
			</div>
		</div>
		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="index.html"><img id='melog' src="images/milog.png"></a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active">
								<a href="/" method="get">Home</a>
							</li>
							<li>
								<a href="#" class="fh5co-sub-ddown">Get Involved</a>
								<ul class="fh5co-sub-menu">
									<li><a href="#">Donate</a></li>
									<li><a href="#">Fundraise</a></li>
									<li><a href="#">Campaign</a></li>
									<li><a href="#">Philantrophy</a></li>
									<li><a href="#">Volunteer</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="fh5co-sub-ddown">Projects</a>
								 <ul class="fh5co-sub-menu">
								 	<li><a href="/projectlists">Our Projects</a></li>
								 	<li><a href="#">Cloth Giving</a></li>
								 	<li><a href="#">Medical Mission</a></li>
								</ul>
							</li>
							<li><a href="/about" method='get'>About</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="/contact" method='get'>Contact</a></li>
							
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		

<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/boy-playing-in-the-river-3287914.jpg);">
				<div class="desc animate-box">
					<h2><strong>The </strong>Concerned<strong> Elites</strong></h2>
					<h2> Charity<strong> Foundation</strong></h2>
					<span><a class="btn btn-primary btn-lg" href="#" id="myBtm">Donate Now</a></span>
				</div>
			</div>

		</div>
		<!-- end:header-top -->
		<div id="fh5co-features">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-profile-male"></i>
							</span>
							<div class="feature-copy">
								<h3>Become a volunteer</h3>
								<p>Caring has the gift of making the ordinary special.</p>
								<p><a href="#">Learn More</a></p>
							</div>
						</div>

					</div>

					<div class="col-md-4">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-happy"></i>
							</span>
							<div class="feature-copy">
								<h3>Happy Giving</h3>
								<p>We make a living by what we get, but we make a life by what we give..</p>
								<p><a href="#">Learn More</a></p>
							</div>
						</div>

					</div>
					<div class="col-md-4">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-wallet"></i>
							</span>
							<div class="feature-copy">
								<h3>Donation</h3>
								<p>This country will not be a good place for any of us to live in </p>
								unless we make it a good place for all of us to live in.</p>
								<p><a href="#">Learn More</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-feature-product" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h3>Giving is Virtue.</h3>
						<p>I have found that among its other benefits giving librates the giver.</p>
					</div>
				</div>

				
				<div class="row">
                     <div class="col-md-4">
						<div class="feature-text">
							<h3>Love</h3>
							<p>“Service to others is the rent you pay for your room here on earth.”</p>
                              <p>―Mohammed Ali</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Compassion</h3>
							<p>“We make a living by what we get, but we make a life by what we give.”</p>
								<p>―Winston Churchil</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Charity</h3>
							<p>“If there be any truer measure of a man than by what he does, it must be by what he gives.”</p>
							<p>―Robert South</p>
						</div>
					</div>
				</div>

				
			</div>
		</div>

		
		<div id="fh5co-portfolio">
			<div class="container">

				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
						<h3>Our Gallery</h3>
			
					</div>
				</div>

				
				<div class="row row-bottom-padded-md">
					<div class="col-md-12">
						<ul id="fh5co-portfolio-list">

							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/home.jpg); ">
								<a href="#" class="color-3">
									<div class="case-studies-summary">
										<span>Elites</span>
										<h2>First Year Aniversary</h2>
									</div>
								</a>
							</li>
						
							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/home2.jpg); ">
								<a href="#" class="color-4">
									<div class="case-studies-summary">
										<span>Show campassion</span>
										<h2>compassion is loving</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/home1.jpg); "> 
								<a href="#" class="color-5">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>
							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/home3.jpg); ">
								<a href="#" class="color-6">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>
						</ul>		
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center animate-box">
						<a href="#" class="btn btn-primary btn-lg">See Gallery</a>
					</div>
				</div>

				
			</div>
		</div>
		

		
		<div id="fh5co-content-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Board Of Trustee.</h3>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="images/ceo1.jpeg" alt="user">
							</figure>
							<blockquote>
								<p>Position- <strong>Founder/CEO</strong>
								<br><strong>Oshiogbe Olubunmi</strong>
								<br>Occupation- <strong>Business</strong>
								<br>Location- <strong>Lagos</strong>	
								</p>
							</blockquote>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="images/president.jpg" alt="user">
							</figure>
							<blockquote>
								<p>Position- <strong>President</strong>
								<br>Name- <strong>Hamzat Olayiwola</strong>
								<br>Occupation- <strong>Mech Engr</strong>
								<br>Location- <strong>Ota</strong>	
								</p>
							</blockquote>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="images/headofadmin.jpg" alt="user">
							</figure>
							<blockquote>
								<p>Position- <strong>Head of Admin</strong>
								<br>Name- <strong>Ilesanmi Adeyemi</strong>
								<br>Occupation- <strong>Business</strong>
								<br>Location- <strong>Lagos</strong>	
								</p>
							</blockquote>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="images/ex-president.jpg" alt="user">
							</figure>
							<blockquote>
								<p>Position- <strong>Ex-President</strong>
								<br>Name- <strong>Olowo Emmanuel</strong>
								<br>Occupation- <strong>Business</strong>
								<br>Location- <strong>Lagos</strong>	
								</p>
							</blockquote>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="images/yak.jpg" alt="user">
							</figure>
							<blockquote>
								<p>Position- <strong>Member</strong>
								<br>Name- <strong>abu Yakubu</strong>
								<br>Occupation- <strong>Business</strong>
								<br>Location- <strong>Lagos</strong>	
								</p>
							</blockquote>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="images/vp.jpg" alt="user">
							</figure>
							<blockquote>
								<p>Position- <strong>Vice President</strong>
								<br>Name- <strong>Alade Sulaiman Abiola</strong>
								<br>Occupation- <strong>Business</strong>
								<br>Location- <strong>Lagos</strong>	
								</p>
							</blockquote>
						</div>
					</div>
					<div class="col-md-3">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="images/grangpatron.jpg" alt="user">
							</figure>
							<blockquote>
								<p>Position- <strong>Grand Patron</strong>
								<br>Name- <strong>Fakayejo Adeyemi</strong>
								<br>Occupation- <strong>Barister</strong>
								<br>Location- <strong>Lagos</strong>	
								</p>
							</blockquote>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="images/ceo2.jpeg" alt="user">
							</figure>
							<blockquote>
								<p>Position- <strong>Member</strong>
								<br>Name- <strong>Agazumu Joy Emonlu</strong>
								<br>Occupation- <strong>Business</strong>
								<br>Location- <strong>Lagos</strong>	
								</p>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fh5co-content-section -->

		<div id="fh5co-services-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Our Projects. Support Us</h3>
					
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row text-center">
				  <% projects.forEach(function(project){ %>
					<div class="col-md-4 col-sm-4">
						<div class="services animate-box">
							<span><i class="icon-heart"></i></span>
							<h3><%=project.title%></h3>
							<p><%=project.description%>.</p>
						</div>
					</div>
					<%})%>
				</div>
			</div>
		</div>

		<!-- END What we do -->


		<div id="fh5co-blog-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Recent Projects</h3>
						<p>Some Of Our Charity Projects.</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="images/project.jpg" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href=""#>Cash Donation</a></h3>
									<p>Check issued for hospital bills</p>
																		
									<p><a href="#">Learn More...</a></p>
								</div>
							</div> 
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive " id="imgi" src="images/foo.jpg" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href=""#>Food Drive</a></h3>
									<span class="posted_by">Sep. 15th</span>
									<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
									<p>Giving Out food donations to the less Priviledge at Ibadan.</p>
									<p><a href="#">Learn More...</a></p>
								</div>
							</div> 
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<a href="#"><img class="img-responsive" src="images/care.jpg" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href=""#>Medical Mission</a></h3>
									<span class="posted_by">Sep. 15th</span>
									<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
									<p>A child receives a cash check aid for a needed kidney transplant surgery.</p>
									<p><a href="#">Learn More...</a></p>
								</div>
							</div> 
						</div>
					</div>
					<div class="clearfix visible-md-block"></div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center animate-box">
						<a href="#" class="btn btn-primary btn-lg">Our Blog</a>
					</div>
				</div>

			</div>
		</div>
		<!-- fh5co-blog-section -->
		
		
		
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
  	<span class="close">&times;</span>
    <form class="text-center border border-light p-5" action="/login" method="post">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="username"  class="form-control mb-4" placeholder="username" name="username">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password">
    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
    
</form>
  </div>

</div>
      
 <div id="myMedal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
  	<span class="close" id="spa">&times;</span>
   <h2> Partner with us today </h2>
   <strong>
   	   <h3>Donate For The Poor Children of our Communities</h3>
   <p>Pay to our bank account: The Concerned Elites Charity Foundations.</p>
   <P>Polaris Bank Account number:4091258606</P>
  </div>
   </strong>
</div>
        
		
		
		
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
							<p>Copyright 2020 JMA Software <a href="/home">Concerned Elite Foundation</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	 <script src="scripts/modal.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/sticky.js"></script>

	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>
	
	<!-- Main JS -->
	<script src="js/main.js"></script>
      <!-- Compiled and minified JavaScript -->
  
 
  <script>
   // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
  var medal = document.getElementById("myMedal");

// Get the button that opens the modal
var btm = document.getElementById("myBtm");
var spa = document.getElementById("spa")
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btm.onclick = function() {
  medal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
spa.onclick = function() {
  medal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == medal) {
    medal.style.display = "none";
  }
}
}
  </script>
  <script>
   // Get the modal

  </script>
	</body>
</html>

